[core]
	autocrlf = false
	quotepath = false
[color "diff"]
	old = red
	meta = yellow
	frag = magenta
	old = red
	new = green
[alias]
	mg = merge
	stat = status
	co = checkout
	ci = commit
	smg = cherry-pick
[color]
	status = auto
	branch = auto
	diff = auto
	ui = true
	pager = true
[color "branch"]
	current = yellow
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[gui]
	encoding = utf-8
[i18n]
	commitencoding = utf-8
	logoutputencoding = utf-8
[user]
	name = xiangning.meng
	email = xiangning.meng@simcom.com
